[submodule "git_modules/cosmos-sdk"]
	path = git_modules/cosmos-sdk
	url = https://github.com/cosmos/cosmos-sdk.git
  branch = rigel/spec-staking
[submodule "git_modules/cosmos-academy"]
	path = git_modules/cosmos-academy
	url = https://github.com/cosmos/cosmos-academy.git
  branch = master
