//==============================================================================
// variables

// main colors
mhue = 210
msat = 80%
mlit = 20%
mc = hsl(mhue,msat,mlit)
accent1 = hsl(60,43%,65%)
accent2 = hsl(345,85%,49%)

// backgrounds
app-bg = hsl(mhue, 36%, 4%)
app-bg-alpha = alpha(app-bg, 92%)
app-bg-hover = hsl(mhue, 36%, 8%)
app-fg = hsl(mhue, 25%, 12%)

// text
bright = #fff
txt = hsl(mhue, 32%, 88%)
dim = hsl(mhue, 32%, 63%)

// anchor
link = hsl(mhue,75%,81%)
link = accent1

// borders
bc = hsl(mhue, 26%, 36%)
bc-dim = hsl(mhue, 22%, 24%)
 
// input
input-bg = transparent
input-bc = bc

// typography
x = 16px
px = 0.0625rem
sans = -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
mono = Consolas, Monaco, monospace

// alerts
alert-success = hsl(120,100%,50%)
alert-info = txt
alert-warning = hsl(60,100%,50%)
alert-danger = hsl(0,100%,50%)

// sizes
width-main = 100%
width-side = 16rem

//==============================================================================
// methods

df()
  font-size x
  line-height 1.5
  font-family sans
  color txt

mono()
  font-family Consolas, Monaco, monospace
  font-weight normal

font-label()
  font-size 0.75rem
  font-weight 500
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  color bright

shadow()
  box-shadow hsla(0,0,0,0.5) 0 3px 5px

h1 = 2rem
h2 = 1.75rem
h3 = 1.5rem
h4 = 1.25rem
h5 = 1rem
h6 = 0.75rem

// headings
h1, .h1
  font-size h1
  font-weight 300
h2, .h2
  font-size h2
  font-weight 300
h3, .h3
  font-size h3
h4, .h4
  font-size h4
h5, .h5
  font-size h5
h6, .h6
  font-size h6
  font-weight 600

@media screen and (min-width: 768px)
  h1, .h1
    font-size h1 * 1.25
  h2, .h2
    font-size h2 * 1.25
  h3, .h3
    font-size h3 * 1.25
  h4, .h4
    font-size h4 * 1.25
  h5, .h5
    font-size h5 * 1.25
  h6, .h6
    font-size h6 * 1.25
    font-weight 500
