//==============================================================================
// variables

// main colors
mhue = 210
msat = 80%
mlit = 20%
mc = hsl(320,95%,58%)

// backgrounds
app-bg = hsl(mhue, 25%, 9%)
app-bg-alpha = alpha(app-bg, 92%)
app-bg-hover = hsl(mhue, 25%, 11%)
app-fg = hsl(mhue, 25%, 13%)

// text
bright = #fff
txt = hsl(mhue, 32%, 88%)
dim = hsl(mhue, 32%, 63%)

// anchor
link = mc
hover-bg = alpha(mc, 7%)

// borders
bc = hsl(mhue, 26%, 25%)
bc-dim = hsl(mhue, 22%, 20%)
 
// input
input-bg = transparent
input-bc = bc

// typography
x = 16px
px = 0.0625rem
sans = -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue", "Lucida Grande", sans-serif
mono = Consolas, Monaco, monospace

// alerts
alert-success = hsl(120,100%,50%)
alert-info = txt
alert-warning = hsl(60,100%,50%)
alert-danger = hsl(0,100%,50%)

// sizes
width-main = 100%
width-side = 16rem

//==============================================================================
// methods

df()
  font-size x
  line-height 1.5
  font-family sans
  color txt

mono()
  font-family Consolas, Monaco, monospace
  font-weight normal

font-label()
  font-size 0.75rem
  white-space nowrap
  text-overflow ellipsis
  overflow hidden
  color bright

shadow()
  box-shadow hsla(0,0,0,0.5) 0 3px 5px

xl = x * 1.5
lg = x * 1.25
m = x
sm = x * 0.75
xs = x * 0.625

h1 = 2rem
h2 = 1.75rem
h3 = 1.5rem
h4 = 1.25rem
h5 = 1rem
h6 = 0.75rem

// headings
h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6
  line-height 1.125
  margin 1rem 0

h1, .h1
  font-size h1
  color bright

h2, .h2
  font-size h2
  color dim

h3, .h3
  font-size h3
  line-height 1
  color bright

h4, .h4
  font-size h4
  color dim

h5, .h5
  font-size h5
  color bright

h6, .h6
  font-size h6
  color dim
  text-transform uppercase
  letter-spacing 0.0625em
